<html>
    <head>
        <title>Item Details</title>
        <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container w-50">
        <div class="card text-left" style="width: 32rem;align:center;">
            <div class="card-body">
            <div class="card-header">
                <h1> Editar Linguagem </h1>
            </div>
                <form action="http://localhost:8000/linguagemprog/update/{{language.id_linguagem}}" method="post">
                        <div class="mb-3">
                            <label for="fishId" class="form-label">ID da linguagem</label>
                            <input type="text" class="form-control" id="id_linguagem" name="id_linguagem" value="{{language.id_linguagem}}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="fishName" class="form-label">Nome da linguagem</label>
                            <input type="text" class="form-control" id="nome_linguagem"  name="nome_linguagem" value="{{language.nome_linguagem}}">
                        </div>
                        <div class="mb-3">
                            <label for="fishDescription" class="form-label">Ano de lançamento</label>
                            <input type="text" class="form-control" id="ano_lancamento"  name="ano_lancamento" value="{{language.ano_lancamento}}">
                        </div>

                        <input type="submit" class="btn btn-primary"> &nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" class="btn btn-danger">
                </form>
                </div>
            </div>
        </div>
    </body>
</html>