<html>
    <head>
        <title>Item Details</title>
        <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container w-50">
            <h1>Detalhes da Startup</h1>
            <hr width="55%"/>
            <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <h5 class="card-title">Nome da Startup: {{startup.nome_startup}}</h5>
                    <hr>
                    <p class="card-text">Cidade sede: {{startup.cidade_sede}}</p>
                    <p class="card-text">Quantidade de programadores: {{startup.lenDevs}}</p>
                    <ul class="list-group">
                        {% for dev in startup.devs %}
                            <li class="list-group-item">{{dev}}</li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </body>
</html>